<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"border":{"color":null,"style":null,"width":null,"top":{"width":"1px","style":"solid"},"right":[],"bottom":[],"left":[]}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="border-top-style:solid;border-top-width:1px"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"0rem","bottom":"0rem","left":"0rem","right":"0rem"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="padding-top:0rem;padding-right:0rem;padding-bottom:0rem;padding-left:0rem"><!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"top":"3.3%","left":"3.3%"},"margin":{"top":"0px","bottom":"0px"}}}} -->
<div class="wp-block-columns alignwide" style="margin-top:0px;margin-bottom:0px"><!-- wp:column {"verticalAlignment":"top","width":"66.6%"} -->
<div class="wp-block-column is-vertically-aligned-top" style="flex-basis:66.6%"><!-- wp:cover {"url":"https://p1120.files.wordpress.com/2023/12/img_4726-1.png","id":24,"isRepeated":true,"dimRatio":0,"customOverlayColor":"#494543","minHeight":40,"minHeightUnit":"rem","contentPosition":"bottom left","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"margin":{"top":"0px","bottom":"0px"},"blockGap":"0px"},"color":{"duotone":"var:preset|duotone|grayscale"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-cover is-repeated has-custom-content-position is-position-bottom-left" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;min-height:40rem"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim" style="background-color:#494543"></span><div class="wp-block-cover__image-background wp-image-24 is-repeated" style="background-position:50% 50%;background-image:url(https://p1120.files.wordpress.com/2023/12/img_4726-1.png)"></div><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
<p class="has-text-align-center has-large-font-size"></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"30%"} -->
<div class="wp-block-column" style="flex-basis:30%"><!-- wp:spacer {"height":"2rem","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
<div style="margin-top:0px;margin-bottom:0px;height:2rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:paragraph {"align":"center","fontSize":"small"} -->
<p class="has-text-align-center has-small-font-size">I was born and raised in a small lake town in Jersey. My passion for helping people through the medical field was influenced by my friends, family and community. I have incorporated healthcare aspects and topics into classes that are essentially not related to medicine to make them more interesting. I have been utilizing this method ever since I was little. This has wired my brain to go through life with a problem solving attitude.  </p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:spacer {"height":"8rem","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
<div style="margin-top:0px;margin-bottom:0px;height:8rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"textAlign":"center","level":1} -->
<h1 class="wp-block-heading has-text-align-center">I am a second generation immigrant because my parents were born and raised in india. I understand the importance of equity and diversity and creatING a platform accepting of all identities. </h1>
<!-- /wp:heading -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"100%"} -->
<div class="wp-block-column" style="flex-basis:100%"><!-- wp:query {"queryId":1,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"tagName":"main","align":"wide","layout":{"type":"constrained","contentSize":null}} -->
<main class="wp-block-query alignwide"><!-- wp:query-no-results -->
<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
<p>&gt;Field of Study: </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>I am a second year undergraduate student at the University of Pittsburgh and am pursuing a career in being a Physician Assistant which will take about six years. I am majoring in Natural Sciences and minoring in Chemistry. Throughout my course of study, I have taken classes that will help me apply my knowledge in the medical field. </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>&gt;Relevant Hobbies/Interests: </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Whenever I go home for break, I volunteer at the senior care facility near my house. I have been caring for the residents ever since my freshman year of high school. I also like joining clubs that involve aspects of healthcare, such as HOSA and EMT club. </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></main>
<!-- /wp:query --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:spacer {"height":"2rem","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
<div style="margin-top:0px;margin-bottom:0px;height:2rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"0px"}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"style":{"border":{"color":null,"style":null,"width":null,"top":{"style":"solid","width":"8px"},"right":{"style":"none","width":"0px"},"bottom":{"style":"none","width":"0px"},"left":{"style":"none","width":"0px"}},"spacing":{"padding":{"top":"38px"}}}} -->
<div class="wp-block-column" style="border-top-style:solid;border-top-width:8px;border-right-style:none;border-right-width:0px;border-bottom-style:none;border-bottom-width:0px;border-left-style:none;border-left-width:0px;padding-top:38px"><!-- wp:heading {"level":1,"align":"wide"} -->
<h1 class="wp-block-heading alignwide">portfolio of projects </h1>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"border":{"color":null,"style":null,"width":null,"top":{"width":"2px","style":"solid"},"right":{"width":"0px","style":"none"},"bottom":{"width":"0px","style":"none"},"left":{"width":"0px","style":"none"}},"spacing":{"padding":{"top":"44px"}}}} -->
<div class="wp-block-column" style="border-top-style:solid;border-top-width:2px;border-right-style:none;border-right-width:0px;border-bottom-style:none;border-bottom-width:0px;border-left-style:none;border-left-width:0px;padding-top:44px"><!-- wp:paragraph {"align":"left","fontSize":"medium"} -->
<p class="has-text-align-left has-medium-font-size">Link to each project I have done throughout the semester relevant to my career path. </p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:spacer {"height":"4rem","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}}} -->
<div style="margin-top:0px;margin-bottom:0px;height:4rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:paragraph -->
<p><a href="https://docs.google.com/document/d/1zW4ZwWNwF4olkhI-LKf-oVjTclTbBx2cDHBympqSnBQ/edit?usp=sharing" target="_blank" rel="noreferrer noopener">RESUME </a></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><a href="https://docs.google.com/document/d/1b0HArR98-Ri33EONNqSCOghp5PUpt8wzn_k4D6txfm8/edit?usp=sharing" target="_blank" rel="noreferrer noopener">COVER LETTER </a></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><a href="https://docs.google.com/document/d/1G6Vn0Oz-Um4T848H5Yg7L75SQqCOFnKgERomxIVtwdo/edit?usp=sharing" target="_blank" rel="noreferrer noopener">PROPOSAL </a></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><a href="https://docs.google.com/presentation/d/1mhcwJ3lfEOUU3L0cOsE4cx-IL_V44oe6CTkP7N6aP0g/edit?usp=sharing" target="_blank" rel="noreferrer noopener">PRESENTATION </a></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><a href="https://docs.google.com/document/d/1Bd30olihuLRkt2ZYlJw1H7D2wQUOAC5ICXD4G6Pl_9M/edit?usp=sharing" target="_blank" rel="noreferrer noopener">MEMO</a></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><a href="https://docs.google.com/presentation/d/1jsULzgPHWPY4StpuXIsUlpwTzFziIsmq0kqv6P0Of8A/edit?usp=sharing" target="_blank" rel="noreferrer noopener">TRAINING MANUAL </a></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><a href="https://docs.google.com/document/d/101n2TVs-rEVIm5ZvCQnzXAE5oTVAL27qXAXvXJKumsk/edit?usp=sharing" target="_blank" rel="noreferrer noopener">BLOG</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->